body {
    border: 1px solid black;
    position: relative;
    display: block;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.container {
    width: 100%;
}

.card {
    width: 100%;
}

.jumbotron {
    width: 100%;
    background-image: url("./jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.form {
    color: black;
}

.footer {
    color: white;
}