body {
    border: 1px solid black;
    position: relative;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #0D6EFD;
    color: white;
    border-radius: 2px;
}

.container {
    width: 100%;
}

.card {
    width: 100%;
}

.jumbotron {
    width: 100%;
    background-image: url("./jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.form {
    color: black;
}